@model SotaApp.Data.Satis
<form asp-controller="Satis" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="MusteriId" class="form-label"></label>
        <select asp-for="MusteriId" asp-items="ViewBag.Musteriler" class="form-select">
            <option value="">Seçiniz</option>
        </select>
    </div>
    <div class="mb-3">
        <label asp-for="UrunId" class="form-label"></label>
        <select asp-for="UrunId" asp-items="ViewBag.Urunler" class="form-select">
            <option value="">Seçiniz</option>

        </select>
    </div>
    <button class="btn btn-primary" type="submit">Kaydet</button>
</form>