
<div class="mx-5 my-5">
    <h1>Hakkımızda</h1>
    <h4>Denizin kıyısında, huzurun merkezinde bir tatil…</h4>
    <p class="my-3">Antalya’nın eşsiz sahilinde, Akdeniz’in maviliğiyle iç içe bir noktada konumlanan ŞatoOtel, konuklarına konfor, zarafet ve doğanın tüm güzelliklerini bir arada sunuyor. Denize sıfır konumumuz sayesinde sabahları dalga sesleriyle uyanabilir, gün batımında sahilde yürüyüş yaparak günün tüm yorgunluğunu geride bırakabilirsiniz.</p>
    <img class="my-5" src="../../img/10.jpg" style="width: 100%; height:700px" alt="">
    <p>Modern ve şık tasarımlı odalarımız, her detayında rahatlığınızı düşünerek hazırlandı. Tesisimizde sunulan ayrıcalıklı olanaklarla tatiliniz boyunca ihtiyaç duyduğunuz her şeye kolayca ulaşabilirsiniz:</p>
    <ul>
        <li>Deniz manzaralı açık yüzme havuzu</li>
        <li>Gün boyu hizmet veren kafe & restoran alanı</li>
        <li>Zengin menüsüyle yerel ve uluslararası mutfak lezzetleri</li>
        <li>Tüm yılın yorgunluğunu atabileceğiniz spa ve wellness alanı</li>
        <li>Güler yüzlü ve deneyimli personelimizle 7/24 resepsiyon hizmeti</li>
        <li>Ücretsiz Wi-Fi, dinlenme alanları ve daha fazlası…</li>
    </ul>
    <p>İster sevdiklerinizle keyifli bir tatil, ister romantik bir kaçamak, isterseniz de sadece kendinize ayıracağınız huzurlu bir zaman dilimi… ŞotaOtel’de her an özel, her an size ait.</p>
    <p class="mb-5">Hayalinizdeki tatil bir tık uzağınızda. Sizi de ŞatoOtel’in büyüleyici atmosferinde ağırlamaktan mutluluk duyarız.</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4050.859093859123!2d30.6475766496446!3d36.87053181579033!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1str!2str!4v1743774862074!5m2!1str!2str" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>