@{
    ViewData["Title"] = "Home Page";
}
<div class="position-relative vh-100 mb-4 pt-0">
    <img src="../../img/2.jpg"  class="w-100 h-100 object-fit-cover position-absolute top-0 start-0 opacity-50" alt="">
    <div class="position-relative z-1 h-100 d-flex justify-content-center align-items-center text-center text-dark"> 
        <div>
            <h3 class="display-4 fw-bold">Akdeniz’in Kalbinde Rüya Gibi Bir Tatil Sizi Bekliyor!</h3>
            <p class="lead">Denize Sıfır, Huzura Çok Yakın</p>
        </div>
    </div>
</div>
<div class="mx-5 mb-5">
    <h1 class="mb-3">ŞotaOtel</h1>
    <p>Antalya’nın masmavi sahilinde, denizin tam kıyısında konumlanan ŞatoOtel, konuklarına hayallerin ötesinde bir konaklama deneyimi sunuyor. Konforlu odalar, Akdeniz mutfağının seçkin tatları, deniz manzaralı havuz, huzur veren spa alanı ve çok daha fazlası ile burası tatilin gerçek adresi.</p>
    <p>Gün doğumunu Akdeniz’e karşı izleyin, gün boyu serin suların ve güneşin tadını çıkarın, akşamları ise huzurlu atmosferimizde dinlenin. İster kısa bir kaçamak, ister uzun bir tatil planlayın, ŞatoOtel'de her an size özel.</p>
    <ul class="list-unstyled">
        <li>🌊 Denize sıfır konum</li>
        <li>🏊 Açık yüzme havuzu</li>
        <li>☕ Kafe & restoran hizmetleri</li>
        <li>🌿 Spa & wellness alanı</li>
        <li>💻 Ücretsiz Wi-Fi</li>
        <li>💬 7/24 misafir desteği</li>
    </ul>
    <p>Şimdi rezervasyon yapın, hayal ettiğiniz tatil başlasın!</p>
    <a class="btn btn-warning" asp-area="" asp-controller="Home" asp-action="İletişim">Rezervasyon Yapın</a>
    <a class="btn btn-warning" asp-area="" asp-controller="Odalar" asp-action="Hizmetler">Otelimizi Keşfedin</a>
</div>


