@model ŞatoOtel.Models.Iletisim

<div class="mx-5 my-5">
    <h2>İletişim Formu</h2>

    <form asp-action="Form" class="w-50 mx-auto bg-warning p-5">
        <div class="mb-3">
            <label asp-for="Ad" class="form-label"></label>
            <input asp-for="Ad" class="form-control" />
            <span asp-validation-for="Ad" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>


        <div class="mb-3">
            <label asp-for="Mesaj" class="form-label"></label>
            <textarea asp-for="Mesaj" class="form-control" rows="4"></textarea>
            <span asp-validation-for="Mesaj" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-light">Gönder</button>
    </form>

</div>