@model List<ŞatoOtel.Models.Odalar>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="mx-3 my-3">HİZMETLERİMİZ</h1>
    @foreach(var hizmet in Model){
    <div id="Hizmet_@hizmet.Id" class="card my-3 mx-3" style="max-width: 1000px; max-height: 500px;">
    <div class="row g-0">
    <div class="col-md-4">
      <img src="~/img/@hizmet.Image" class="img-fluid rounded-start" style="width: 800px height: 200px; object-fit: cover" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">@hizmet.Title</h5>
        <p class="card-text">@hizmet.Description</p>
      
      </div>
    </div>
  </div>
</div>
    }

</body>
</html>