@model SotaApp.Data.Urun
<h2>Ürün Güncelle</h2>
<hr>
<div class="row">
    <div class="col-8">
        <form asp-controller="Urun" asp-action="Edit" asp-route-id="@Model.UrunId" method="post">
        <input type="hidden" asp-for="UrunId">
        <div class="mb-3">
            <label asp-for="UrunAdi" class="form-label"></label>
            <input asp-for="UrunAdi" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="Stok" class="form-label"></label>
            <input asp-for="Stok" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="Fiyat" class="form-label"></label>
            <input asp-for="Fiyat" class="form-control">
        </div>
        <button class="btn btn-primary" type="submit">Kaydet</button>
        </form>
    </div>

    <div class="col-4">
        <h4>Müşteriler</h4>
        <hr>
        <ul>
            @foreach(var item in Model .Satis){
                <li>@item.Musteri.MusteriAdi </li>
            }
        </ul>
    </div>

</div>

