@model SotaApp.Data.Musteri
<h2>Müşteri KAydet</h2>
<hr>
<form asp-controller="Musteri" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="MusteriAdi" class="form-label"></label>
        <input asp-for="MusteriAdi" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="MusteriSoyad" class="form-label"></label>
        <input asp-for="MusteriSoyad" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Mail" class="form-label"></label>
        <input asp-for="Mail" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Telefon" class="form-label"></label>
        <input asp-for="Telefon" class="form-control">
    </div>
    <button class="btn btn-primary" type="submit">Kaydet</button>
</form>